/*================================================*/
/*media*/
/*================================================*/
@mixin mw_xxl{
	@media screen and (max-width: 1279px){
		@content;
	}
}
@mixin mw_xl{
	@media screen and (max-width: 1023px){
		@content;
	}
}
@mixin mw_lg{
	@media screen and (max-width: 991px){
		@content;
	}
}
@mixin mw_md{
	@media screen and (max-width: 767px){
		@content;
	}
}
@mixin mw_sm{
	@media screen and (max-width: 575px){
		@content;
	}
}
@mixin hoverHandler($op, $bg, $txt) {
	@media (pointer: fine),
	(-moz-touch-enabled: 0),
	screen and (-ms-high-contrast: active),
	(-ms-high-contrast: none) {
		&:hover{
			@content;
			opacity: $op;
			background-color: $bg;
			color: $txt;
		}
	}
	&:active{
		@content;
		opacity: $op;
		background-color: $bg;
		color: $txt;
	}
}
// scroll
@mixin scrollbar($x, $y) {
	overflow-x: $x;
	overflow-y: $y;
	-webkit-overflow-scrolling: touch;
}
// 動畫
%transition {
	transition: all .3s ease-in-out;
}
%hand {
	cursor: pointer;
	transition: all .2s ease-in-out;
}

/*================================================*/
/*layout*/
/*================================================*/
@mixin pos_abs($top , $right , $bottom , $left){
    position: absolute;
    top: $top;
    bottom:  $bottom;
    right: $right;
    left: $left;
}
@mixin d_flex($flex, $wrap, $jc, $ai){
    display: $flex;
    flex-wrap: $wrap;
    justify-content: $jc;
    align-items: $ai;
}
