.product{
	width: 100%;
	height: 100%;
    &_box{
        display: flex;
        flex-wrap: wrap;
        @include mw_lg{
            overflow-x: auto;
            overflow-y:hidden;
            height: 100%;
            flex-direction: column;
        } 
    }

    &_item{
        position: relative;
        display: flex;
        justify-content: center;
        width: calc(100% / 4 - 16px);
        margin: 0 8px;
        padding-bottom: 35px;
        
        @include mw_xxl{
            width: calc(100% / 3 - 16px);
        }
        @include mw_lg{
            flex: none;
            width: calc(75% / 2);
        }
        @include mw_sm{
            width: 90%;
            height: 100%;
        }
        &::before{
            position: absolute;
            left: 0;
            bottom: 0;
            content:"";
            width: 100%;
            height: 50%;
            background-color: #ECECEC;
            border-radius: 3px;
        }
        
        img{
            position: relative;
            width: 100%;
        }

        .txt_box{
            position: absolute;
            left: 0;
            bottom: 10px;
            padding: 0 15px;
            text-align: left;

            p+p{
                margin-top: 10px;
            }
        }
    }
}